<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add Car Form | Management Panel</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<div class="container">
    <h1>Add car form</h1>
    <hr>
    <form action="#" th:action="@{/management/cars/save}" th:object="${car}" method="POST">
        <label class="form-label">Model</label>
        <input type="text" class="form-control mb-4 col-4" th:field="*{model}" placeholder="Model">
        <label class="form-label">Brand</label>
        <input type="text" class="form-control mb-4 col-4" th:field="*{brand}" placeholder="Brand">
        <label class="form-label">Year of production</label>
        <input type="text" class="form-control mb-4 col-4" th:field="*{year}" placeholder="Year of production">
        <label class="form-label">Mileage</label>
        <input type="text" class="form-control mb-4 col-4" th:field="*{mileage}" placeholder="Mileage">
        <button type="submit" class="btn btn-info col-2">Save</button>
    </form>
    <hr>
    <a th:href="@{/management/cars/list}">Go back to cars list</a>
</div>
</body>
</html>